body{

margin:0;
font-family:Poppins;
background:linear-gradient(135deg,#ffdde1,#ee9ca7);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;

}

#cover{

position:absolute;
width:100%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
cursor:pointer;
transition:1s;

}

.envelope{

position:relative;
width:250px;
height:160px;
background:#d94b64;
border-radius:0 0 10px 10px;

}

.flap{

position:absolute;
top:0;
left:0;
width:0;
height:0;

border-left:125px solid transparent;
border-right:125px solid transparent;
border-top:90px solid #f16b85;

transform-origin:top;
transition:1s;

}

.letter{

position:absolute;
width:220px;
height:140px;
background:white;
left:15px;
bottom:10px;
display:flex;
justify-content:center;
align-items:center;
font-size:60px;
border-radius:10px;
transition:1s;

}

#cover:hover .letter{

transform:translateY(-15px);

}

#card{

display:none;

width:400px;

background:white;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:0 15px 40px rgba(0,0,0,.3);

animation:showCard 1s;

}

h1{

font-family:Great Vibes;
font-size:55px;
color:#d6336c;

}

h2,h3{

color:#c2185b;

}

@keyframes showCard{

from{

opacity:0;
transform:scale(.5);

}

to{

opacity:1;
transform:scale(1);

}

}